*{
    margin: 0;
    box-sizing: border-box;
}
.home{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7))  , url(./../images/header-bg.jpg);
    background-position: center center;
    background-size: cover;
}
.text-pink{
    color: #E05C75;
}
.home-content h1{
    color: white;
}
.home-p{
    max-width: 500px;
    margin: 0 auto;
}
.btn-custom{
    color: white;
    border: 1px solid white;
    background-color: transparent;
}
.btn-custom:hover{
    color: black;
    background-color: white;
}
.settings{
    width: 40px;
    height: 40px;
    background-color: #333;
    position: fixed;
    top: 30%;
}
.shape{
    position: absolute;
    width: 40px;
    height: 80px;
    bottom: 30px;
    left: 50%;
    transform: translatex(-50%);
    border: 2px solid white;
    border-radius: 20px;
    animation-name: jump;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.shape::after{
    content: "";
    position: absolute;
    width: 3px;
    height: 15px;
    background-color: white;
    bottom: 20px;
    left: 50%;
    transform: translatex(-50%);
}
.typing::after{
    content: "";
    animation-name: typingSkill;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.navbar{
    background-color: rgba(0,0,0,0.7);
}
.navbar .nav-link{
    color: #EEE;
}
.navbar .nav-link.active{
    color: #E05C75;
}
.navbar .nav-link:hover{
    color: #E05C75;
}
.about-content .about-icon ul li{
    width: 40px;
    height: 40px;
    /* background-color: aqua; */
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.about-content .about-icon ul li:hover{
    border: 1px solid #E05C75;
    color: #E05C75;
}
.main-section-title p{
    max-width: 500px;
    margin:0 auto;
}
.slider-i{
    font-size: 40px;
    color: #E05C75;
}
.slider img{
    /* width: 80px; */
    border-radius: 50%;
}
.carousel-indicators [data-bs-target]{
    background-color: #E05C75;
    width: 30px;
    height:8px;
    border-radius: 45%;
}
.portfolio .nav-tabs .nav-link{
    border-radius: 10px;
    color: #333;
}
.portfolio .nav-tabs .nav-link.active{
color: white;
border-radius: 10px;
background-color: #E05C75;
}
.nav-tabs{
    border-bottom: 0;
}
.portfolio .nav-tabs .nav-link:hover{
    border-color: transparent;
}
.item-img{
    position: relative;
    overflow: hidden;
}
.item-img img{
    transition: all .5s ease;
}
.item-img:hover img{
transform: scale(1.5);
}
.item-img .headers{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: top .4s ease;
    color: white;
    z-index: 99;
}
.item-img::after{
content: "";
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
background-color: rgba(0,0,0,0.7);
opacity: 0;
transition: all .4s ease;
}

.item-img:hover .headers{
    top: 50%;
}
.item-img:hover::after{
    opacity: 1;
}